<% layout("/layouts/boilerplate") %>

<body>

  <div class="row">
    <div class="col-8 offset-2">
  <h3>Create new listing</h3>

  <form method="POST" action="/listings">
    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Title</label>
      <input name="title" placeholder="Enter title" type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label fw-bold">Description</label>
      <textarea name="description" placeholder="Enter description" type="text" class="form-control"></textarea>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label fw-bold">Image</label>
      <input name="image" placeholder="Enter image URL" class="form-control">
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label fw-bold">Price</label>
        <input name="price" placeholder="Enter price" type="number"  class="form-control">
      </div>
  
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label fw-bold">Country</label>
        <input name="country" placeholder="Enter country" type="text" class="form-control">
      </div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label fw-bold">Location</label>
      <input name="location" placeholder="Enter location" type="text" class="form-control" >
    </div>

    <button class="btn btn-dark mb-3 add-btn">Add</button>
  </form>
  </div>
  </div>
</body>
